<p id="notice"><%= notice %></p>

<div class="panel panel-info" style="border-color:#080808;">
  <div class="panel-heading" style="font-size:x-large;color:white;background-color:#222;border-color:#080808;">Congratulations!</div>
  <div class="panel-body">
    <div>Only <%= @special.requiredUsers - @special.bar.numberOfUsers %> more users to unlock this special!</div>
    <div class="progress progress-striped active status-bar">
      <% if (100.0 * @special.bar.numberOfUsers / @special.requiredUsers) < 25 %>
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= @special.bar.numberOfUsers %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= 100.0 * @special.bar.numberOfUsers / @special.requiredUsers %>%;">
        <div class="sr-only"></div>
        </div>
      <% elsif (100.0 * @special.bar.numberOfUsers / @special.requiredUsers) < 50 %>
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= @special.bar.numberOfUsers %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= 100.0 * @special.bar.numberOfUsers / @special.requiredUsers %>%;">
        <div class="sr-only"></div>
        </div>
      <% elsif (100.0 * @special.bar.numberOfUsers / @special.requiredUsers) < 100 %>
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= @special.bar.numberOfUsers %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= 100.0 * @special.bar.numberOfUsers / @special.requiredUsers %>%;">
        <div class="sr-only"></div>
        </div>
      <% else %>
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= @special.bar.numberOfUsers %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= 100.0 * @special.bar.numberOfUsers / @special.requiredUsers %>%;">
        <div class="sr-only"></div>
        </div>
      <% end %>
    </div>
    <div>
      <%= @special.bar.numberOfUsers %> out of <%= @special.requiredUsers %> users!
    </div>
  </div>
</div>

<a href="http://twitter.con/share?text=<%= @twitterMessage %>">Share on Twitter!</a>

<nav class="navbar navbar-fixed-bottom navbar-inverse" role="navigation">
  <div style="width:100%;padding-left:5%">
    <p class="navbar-text" style="text-align:center; color:white; width:30%"></p> <!-- glyphicon glyphicon-arrow-left / glyphicon-chevron-left-->
    <a class="navbar-text" style="text-align:center; color:white; width:30%" href="<%= specials_path %>"><i class="glyphicon glyphicon-chevron-left" style="color-white"></i></a> <!-- glyphicon glyphicon-ok -->
    <p class="navbar-text" style="text-align:center; color:white; width:30%"></p>
  </div>
</nav>
