<h1>Listing Specials</h1>

<div id="specials-list" style="display:table">

  <% @specials.each do |special| %>
    <div class="specials-list-rounded" onClick="location.href='/specials/<%= special._id %>'" style="cursor:pointer">
      <div class="" style="display:inline-table;width:100%;">
        <div class="name" style="width:66%;font:24px bold;display:table-cell"><%= special.bar.name %>: <%= special.name %></div>
        <div style="width:34%;display:table-cell">
          <div class="progress progress-striped active status-bar">
            <% if (100.0 * special.bar.numberOfUsers / special.requiredUsers) < 25 %>
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= special.bar.numberOfUsers %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= 100.0 * special.bar.numberOfUsers / special.requiredUsers %>%;">
              <div class="sr-only"></div>
            </div>

            <% elsif (100.0 * special.bar.numberOfUsers / special.requiredUsers) < 50 %>
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= special.bar.numberOfUsers %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= 100.0 * special.bar.numberOfUsers / special.requiredUsers %>%;">
              <div class="sr-only"></div>
              </div>
            <% elsif (100.0 * special.bar.numberOfUsers / special.requiredUsers) < 100 %>
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= special.bar.numberOfUsers %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= 100.0 * special.bar.numberOfUsers / special.requiredUsers %>%;">
              <div class="sr-only"></div>
              </div>
            <% else %>
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= special.bar.numberOfUsers %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= 100.0 * special.bar.numberOfUsers / special.requiredUsers %>%;">
              <div class="sr-only"></div>
              </div>
            <% end %>
          </div>
          <%= special.bar.numberOfUsers %> out of <%= special.requiredUsers %> users!
        </div>
      </div>
    </div>
  <% end %>
</div>

<nav class="navbar navbar-fixed-bottom navbar-inverse" role="navigation">
  <div class="searchbar">
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :id => "searchButton", :name => nil %>
    </p>
  </div>
  <div style="width:100%;padding-left:5%">
    <p class="navbar-text" style="text-align:center; color:white; width:30%">Hello World</p>
    <p class="navbar-text" style="text-align:center; color:white; width:30%">Hello World</p>
    <p class="navbar-text" style="text-align:center; color:white; width:30%">Hello World</p>
  </div>
</nav>