<p id="notice"><%= notice %></p>

<div class="panel panel-info" style="border-color:#080808;">
  <div class="panel-heading" style="font-size:x-large;color:white;background-color:#222;border-color:#080808;"><%= @special.bar.name %></div>
  <div class="panel-body">
    <div><h3><%= @special.name %></h3></div>
    <br>
    <div><h4><%= @special.description %></h4></div>
    <br>
    <div class="progress progress-striped active status-bar">
      <% if (100.0 * @special.bar.numberOfUsers / @special.requiredUsers) < 30 %>
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= @special.bar.numberOfUsers %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= 100.0 * @special.bar.numberOfUsers / @special.requiredUsers %>%;">
        <div class="sr-only"></div>
        </div>
      <% elsif (100.0 * @special.bar.numberOfUsers / @special.requiredUsers) < 60 %>
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= @special.bar.numberOfUsers %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= 100.0 * @special.bar.numberOfUsers / @special.requiredUsers %>%;">
        <div class="sr-only"></div>
        </div>
      <% elsif (100.0 * @special.bar.numberOfUsers / @special.requiredUsers) < 100 %>
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= @special.bar.numberOfUsers %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= 100.0 * @special.bar.numberOfUsers / @special.requiredUsers %>%;">
        <div class="sr-only"></div>
        </div>
      <% else %>
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= @special.bar.numberOfUsers %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= 100.0 * @special.bar.numberOfUsers / @special.requiredUsers %>%;">
        <div class="sr-only"></div>
        </div>
      <% end %>
    </div>
    <div class="status-bar-text">
      <h4><%= @special.bar.numberOfUsers %> out of <%= @special.requiredUsers %> users! Only <%= @special.requiredUsers - @special.bar.numberOfUsers %> left to go!</h4>
    </div>
  </div>
</div>

<nav class="navbar navbar-fixed-bottom navbar-inverse" role="navigation">
  <div style="width:100%;">
    <a class="navbar-text border-right" style="width:33%" href="<%= specials_path %>"><i class="fa fa-chevron-left fa-3x white"></i></a>
    <a class="navbar-text border-right" style="width:34%" href="<%= checkin_path %>"><i class="fa fa-check fa-3x white"></i></a>
    <a class="navbar-text" style="width:33%" href="http://maps.google.com/?q=<%= @address %>"><i class="fa fa-map-marker fa-3x white"></i></a>
  </div>
</nav>
